<template>
    <div id="container">
        <app-header></app-header>
        
        <main id="main">
            <router-view></router-view>
        </main>

    </div>
</template>


<script>
    import Header from './components/Header'
    export default {
        components: {
            appHeader: Header
        },
        mounted() {
        }
    }
</script>

<style lang="scss">
    /****************************************
                MAIN GENERAL
    ***************************************/
    html,
    body {
        padding: 0;
        margin: 0;
    }

    strong {
        font-weight: bold;
    }

    #container {
        height: 100%;
        display: -ms-flexbox;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: box;
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -ms-box-orient: horizontal;
        box-orient: horizontal;

        #main {
            background: #edeff3;
            -ms-flex: 1;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -ms-box-flex: 1;
            box-flex: 1;
            padding: 20px;
        }
    }

    .btn{
        border-radius: 0 !important;
        
        &:focus {
            box-shadow: none;
        }
    }

    .btn-primary {
        background: #4a6279;
        color: white;
        border: #4a6279;
    }

    .jumbotron{
        background: #fff;
        padding-top: 20px;
    }
    /**
     * Modal
     */

    #project_container {
        padding: 20px;
        .modal-dialog{
            max-width: 800px;
        }
    }

    .modal-content{
        padding: 30px;
    }

    textarea#summary{
        height: 100px;
    }

</style>