<template>
    <button @click="download" class="btn btn-primary">Download file</button>
</template>

<script>
    export default {
        methods: {
            download(){
              axios({
                    url: '/company/project/1/download',
                    method: 'GET',
                    responseType: 'blob',
                })
                .then((res) => console.log(res.data))
                .catch(err => console.log(err))
            }
        }
    }
</script>