<template>
  <div class="nav">
    <header>
      <ul>
        <router-link to="/" tag="li"><a>Home</a></router-link>
        <li data-toggle="collapse" data-target="#project_list">Project</li>

        <ul id="project_list" class="collapse">
            <li>Dashboard</li>
            <router-link to="/project/list" tag="li"><a>All projects</a></router-link>
        </ul>
      </ul>      
    </header>
  </div>
</template>

<script>
export default {
  
  mounted() {
      var $ = jQuery;

      $('p').each(function() {
          if ($(this).text() === '') {
              $(this).remove();
          }
      });
  }
}
</script>

<style lang="scss" scoped>
    .nav {
        background: #fff;
        width: 14%;
        -ms-flex: 0 100px;
        -webkit-box-flex:  0;
        -moz-box-flex:  0;
        -ms-box-flex:  0;
        box-flex:  0;  
        padding: 20px;

        header {
            ul, li {
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }
    }

</style>