<template>
    <div id="addTaskModal" class="modal fade" role="dialog">
        <div class="modal-dialog">


            <div class="modal-content">
                    <form @submit="formSubmit" enctype="multipart/form-data">

                        <h2>Add a new task</h2>
                        
                        <div class="form-group">
                            <input v-model="projectId" type="hidden" class="form-control">
                            <input v-model="task.name" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter title">
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" id="summary" cols="10" rows="10" maxlength="250" v-model="task.summary" placeholder="Enter a summary"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="description"><strong>Enter description</strong></label>
                            <vue-editor v-model="task.description"></vue-editor>
                        </div>

                        <div class="form-group">
                            <input v-on:change="onFileChange" type="file" class="form-control" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                        </div>

                        <div class="form-group">
                            <input placeholder="Enter duration in days" type="text" v-model="task.duration" class="form-control">
                        </div>

                        <div class="d-flex">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
                        </div>

                    </form>
            </div>
        </div>
    </div>  
</template>

<script>
    import { VueEditor } from "vue2-editor";
    export default {
        components: {
            VueEditor
        },
        props: ['projectId'],
        data() {
            return {
                task: {
                    name: '',
                    owner_id: 2,
                    description: '',
                    summary: '',
                    file: '',
                    duration: ''
                },
            }
        },
        methods: {
            onFileChange(e) {
                this.task.file = e.target.files[0]
            },

            formSubmit(e){
                e.preventDefault()

                var formData = new FormData();
                formData.append('name', this.task.name)
                formData.append('owner_id', this.task.owner_id)
                formData.append('project_id', this.projectId)
                formData.append('description', this.task.description)
                formData.append('summary', this.task.summary)
                formData.append('duration', this.task.duration)   
                
                if(this.task.file != ''){
                    formData.append('file', this.task.file)
                }

                const taskData = {
                    formData: formData,
                    projectId: this.projectId
                }

                this.$store.dispatch('addProjectTask', taskData).then(() => {
                    $('.close').click(); 
                })


            }
        }

    }
</script>

<style scoped>

    .close{
        font-size: inherit;
        margin-left: 10px;
        padding: 10px;
    }

</style>


