<template>
    <div id="editTaskModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
        
            {{ taskId }}

        </div>

    </div>
    </div>  
</template>

<script>
    export default {
        props: ['taskId'],
        mounted() {

        }

    }
</script>

<style>

</style>