<template>
    <div id="viewTaskModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <h3>{{ task.name }}</h3>
            <p v-if="task.owner">Assigned to: {{ task.owner.name }} | {{ task.created_at }}</p>
            <p class="btn" v-if="task.status">{{ task.status }}</p>
            <a href="/" v-if="task.file">Download file</a>
            <div id="task_description" v-html="task.description"></div>

            <p>{{ task.duration }}</p>
        </div>
    </div>
    </div>  
</template>

<script>
    export default {

        props: ['task']


       
    }               
</script>

<style>

</style>