<template>
    <div>
        <form @submit="formSubmit" enctype="multipart/form-data">
            
            <div class="form-group">
                <label><strong>Title ( Name )</strong></label>
                <input v-model="project.name" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter title">
            </div>

            <div class="form-group">
                <label><strong>Summary</strong></label>
                <textarea class="form-control" id="project_summary" cols="10" rows="10" maxlength="250" v-model="project.summary" placeholder="Enter a summary"></textarea>
            </div>

            <div class="form-group">
                <label><strong>Description</strong></label>
                <vue-editor v-model="project.description"></vue-editor>
            </div>

            <div class="form-group">
                <label><strong>Upload a file</strong></label>
                <input v-on:change="onFileChange" type="file" class="form-control" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
            </div>

            <div class="form-group">
                <select v-model="project.status" class="form-control form-control-lg mb-3">
                    <option value="">Status</option>
                    <option v-for="stat in status" v-bind:value="stat"> {{ stat }}</option>
                </select>                
            </div>


            <div class="form-group">
                <label><strong>Duration (in days)</strong></label>
                <input type="text" v-model="project.duration" class="form-control">
            </div>

            <button class="btn btn-primary">Save</button>
        </form>

    </div>
</template>
 
<script>

import { VueEditor } from "vue2-editor";
 
export default {
    components: {
        VueEditor
    },

    data() {
        return {
            status: ['ongoing', 'completed', 'in progress', 'on hold'],
            htmlForEditor: null,
            project: {
                name: '',
                description: '',
                summary: '',
                status: '',
                file: '',
                duration: '',
                owner_id: 1,
                client_id: 1
            },
            createdProject: {}
        };
    },
    methods: {
        onFileChange(e){
            this.project.file = e.target.files[0]
        },
        formSubmit(e) {
            e.preventDefault();
            
            let formData = new FormData();
            formData.append('owner_id', this.project.owner_id)
            formData.append('client_id', this.project.client_id)
            formData.append('name', this.project.name)
            formData.append('description', this.project.description)
            formData.append('summary', this.project.summary)
            formData.append('status', this.project.status)
            formData.append('duration', this.project.duration)
            
            if(this.project.file != ''){
                formData.append('file', this.project.file)
            }

            axios.post('/api/project/save', formData)
            .then(res => {
                this.$router.push({
                    name: 'SingleProject',
                    params: { id: res.data.id}
                })
                conosle.log("project object")
                conosle.log(this.project)
            })
            .catch(err => console.log(err));
        }

    }
};
</script>

<style scoped>
    #cke_editor1{
        display : none !important;
    }

    .input-group-prepend{
        display:  none !important;
    }

    #file{
        width: 250px;
        
    }
    #project_summary {
        height: 100px;
    }
</style>



