<template>
    <div>
        <form @submit="formSubmit" enctype="multipart/form-data">
            
            <div class="form-group">
                <label><strong>Title ( Name )</strong></label>
                <input v-model="project.name" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter title">
            </div>

            <div class="form-group">
                <label><strong>Description</strong></label>
                <vue-editor v-model="project.description"></vue-editor>
            </div>

            <div class="form-group">
                <input v-on:change="onFileChange" type="file" class="form-control">
            </div>


            <!-- <div id="file" class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                    <input v-on:change="onFileChange" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div> -->

            <select v-model="project.status" class="form-control form-control-lg mb-3">
                <option>Status</option>
                <option value="ongoing">Ongoing</option>

            </select>
<!-- 
            <div class="form-group">
                <label><strong>Duration</strong></label>
                <input type="text" v-model="project.duration" placeholder="Duration">
            </div> -->

            <button class="btn btn-primary">Save</button>
        </form>


        <!-- <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div> -->
    </div>
</template>
 
<script>

import { VueEditor } from "vue2-editor";
 
export default {
    components: {
        VueEditor
    },

    data() {
        return {
            htmlForEditor: null,
            project: {
                name: '',
                description: '',
                status: '',
                file: ''
                // duration: ''
            }
        };
    },
    methods: {
        onFileChange(e){
            this.project.file = e.target.files[0]
        },
        formSubmit(e) {
            e.preventDefault();
            let currentObj = this;

            let formData = {};

            formData = new FormData();
            formData.append('name', this.project.name)
            formData.append('description', this.project.description)
            formData.append('status', this.project.status)
            formData.append('file', this.project.file)
            // formData.append('duration', this.project.duration)

            console.log("form data")
            console.log(formData)

            axios.post('/company/project/save', formData)
            .then(res => {
                console.log(res.data)
                console.log("Form Data")
                console.log(formData)
            })
            .catch(err => console.log(err));
        }

    },
    mounted() {
        var $ = jQuery;

        $('p').each(function() {
            if ($(this).text() === '') {
                $(this).remove();
            }
        });

    }
};
</script>

<style scoped>
    #cke_editor1{
        display : none !important;
    }

    .input-group-prepend{
        display:  none !important;
    }

    #file{
        width: 250px;
        
    }
</style>



