<template>
    <div>
        <form enctype="multipart/form-data">
            
            <div class="form-group">
                <label><strong>Title ( Name )</strong></label>
                <input v-model="project.name" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter title">
            </div>

            <div class="form-group">
                <label><strong>Summary</strong></label>
                <textarea class="form-control" id="project_summary" cols="10" rows="10" maxlength="250" v-model="project.summary" placeholder="Enter a summary"></textarea>
            </div>

            <div class="form-group">
                <label><strong>Description</strong></label>
                <vue-editor v-model="project.description"></vue-editor>
            </div>

            <!-- <div class="form-group">
                <label><strong>Upload a file</strong></label>
                <input v-on:change="onFileChange" type="file" class="form-control" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
            </div> -->

            <!-- <div class="form-group">
                <select v-model="project.status" class="form-control form-control-lg mb-3">
                    <option value="">Status</option>
                    <option v-for="stat in status" v-bind:value="stat"> {{ stat }}</option>
                </select>                
            </div> -->

            <div class="form-group">
                <label><strong>Duration (in days)</strong></label>
                <input type="text" v-model="project.duration" class="form-control">
            </div>

            <button class="btn btn-primary">Save</button>
        </form>

    </div>
</template>

<script>
import { VueEditor } from "vue2-editor";
 
export default {
    components: {
        VueEditor
    },
    data(){
        return{
            project: ''
        }    
    },
    created() {
        axios.get('http://company.test/company/project/' + this.$route.params.id)
        .then(res => {
            this.project = res.data
        })
        .catch( err => console.log(err))
    }   
}
</script>

<style scoped>
    textarea{
        height: 100px !important;
    }
</style>