<template>
    <div class="jumbotron" id="project_container">
       
        <h3>{{ project.name }}</h3>
        <button class="btn btn-success" v-if="project.status">{{ project.status }}</button>
        <div class="form-group" v-if="project.file">
            <a href="/company/project/1/download">Download file</a>
        </div>
        <div v-html="project.description" class="mt-2 mb-2"></div>
        <p v-if="project.duration">Duration: {{ project.duration }} hours - this must be converted to hours</p>
        <p v-if="project.tracked_time">Tracked time: {{ project.tracked_time }} hours</p>
        <p v-if="project.owner">Created by {{ project.owner.name }} | {{ project.created_at }}</p>


        <h3 v-if="project.tasks_count > 0">Current tasks</h3>
        <h3 v-else>No tasks added</h3>

        <div class="search_add d-flex mb-3">
            <input v-if="project.tasks_count > 0" placeholder="Search for a project by title" type="text" name="search" id="search-project">
            <button class="btn btn-primary" data-toggle="modal" data-target="#addTaskModal">New Task</button>
            
            <!-- 
                add-task-modal is a component that loads a modal that allows us to add a new task
                It sends the project id as a prop
            -->          
            <add-task-modal :projectId="project.id"></add-task-modal>

       
        </div>

        <table class="table table-striped " v-if="project.tasks_count > 0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Summary</th>
                    <th>Duration</th>
                    <th>Created</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="task in loadTasks" v-bind:key="task.id">
                    <td>{{ task.id }}</td>
                    <td>{{ task.name  | limitTitle_10 }}</td>
                    <td class="table-description">{{ task.summary }}</td>
                    <td>{{ task.duration }}</td>
                    <td>{{ task.created_at }}</td>
                    <td><button class="btn btn-info view" data-toggle="modal" data-target="#viewTaskModal" @click="viewTask(task.id)"></button></td>
                    <td><button class="btn btn-warning edit" data-toggle="modal" data-target="#editTaskModal"></button></td>
                    <td><button class="btn btn-danger delete" @click="deleteTask(task.id)"></button></td>
                </tr>
            </tbody>
        </table>

        <view-task-modal v-if="showTask" :task="task"></view-task-modal>


    </div>
</template>

<script>
    import AddTaskModal from './Task/AddTaskModal.vue'
    import EditTaskModal from './Task/EditTaskModal.vue'
    import ViewTaskModal from './Task/ViewTaskModal.vue'
    export default {
        components: {
            addTaskModal: AddTaskModal,
            editTaskModal: EditTaskModal,
            viewTaskModal: ViewTaskModal
        },
        data(){
            return{
                task: '',
                showTask: false
            }    
        },
        methods: {
            viewTask(id){
                this.showTask = true

                axios.get('/api/task/' + id)
                .then(res => {
                    this.task = res.data
                })
                .catch(err => {
                    alert(err)
                })
            },

            deleteTask(id){
                axios.delete('/api/task/' + id + '/delete')
                .then(res => {
                    for(var i = 0; i < this.loadTasks.length; i++) {
                        if(this.loadTasks[i].id == id) {
                            this.loadTasks.splice(i, 1);
                            break;
                        }
                    }
                })
                .catch(err => console.log(err))
            }
        },
        created() {
            this.$store.dispatch('loadProject', this.$route.params.id)
        },  
        filters: {
            limitTitle_10: function (value) {
                return value.substr(0, 10)
            }
        },
        computed: {
            project(){
                return this.$store.getters.singleProject
            },

            loadTasks(){
                return this.$store.getters.projectTasks
            }
        }
    }
</script>

<style lang="scss" scoped>
    textarea{
        height: 100px !important;
    }

    .table-description{
        width: 40%;
    }

    table{ 
        .btn{
            background: transparent;
            border: 0;
            color: black;
            width: 24px;
            height: 24px;
            max-width: 100%;
            padding: 0;
            font-size: 24px;

            &::before{
                font-family: fontawesome;
            }

            &.view:before{
                content: '\f06e';
            }

            &.edit:before{
                content: '\f044';
            }

            &.delete:before{
                content: '\f014';
            }
        }

        th{
            border-bottom: 0;
        }

        thead tr {
            background: #fff !important;
        }
        tbody tr:nth-of-type(odd) {
            background-color: #edeff3;
        }
    }

</style>