<template>
    <div>
        <div class="float-right mb-3">
            <div class="search_add d-flex">
                <input placeholder="Search for a project by title" type="text" name="search" id="search-project">
                <router-link tag="button" :to="{name: 'NewProject'}" class="btn btn-primary">New Project</router-link>
            </div>
        </div>
        <div class="row">
        <div class="col-md-4" v-for="project in projects" v-bind:key="project.id">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between">
                    <h3 data-toggle="collapse" :data-target="'#project_' + project.id">{{ project.name | limitTitle_10 }}</h3>
                </div>
                <div :id="'project_' + project.id" class="collapse toggleble card-body show">

                    <div class="card-content">

                        <div class="mb-2" v-html="project.summary"></div>

                        <div class="row">
                        <div class="col-lg-6 col-md-6 col"><strong>Created:</strong></div>              
                        <div class="col-lg-6 col-md-6 col">{{ project.created_at }}</div>              
                        </div>
                        <div class="row">
                        <div class="col-lg-6 col-md-6 col"><strong>Creator:</strong></div>              
                        <div class="col-lg-6 col-md-6 col"></div>              
                        </div>
                        <div class="row">
                        <div class="col-lg-6 col-md-6 col"><strong>Tasks:</strong></div>              
                        <div class="col-lg-6 col-md-6 col">{{ project.tasks_count }}</div>              
                        </div>
                        <div class="row">
                        <div class="col-lg-6 col-md-6 col"><strong>Time Spent:</strong></div>              
                        <div class="col-lg-6 col-md-6 col">{{ project.tracked_time }}</div>              
                        </div>
                        <div class="row">
                        <div class="col-lg-6 col-md-6 col"><strong>Duration:</strong></div>              
                        <div class="col-lg-6 col-md-6 col" v-if="project.duration == 1">{{ project.duration }} day</div>              
                        <div class="col-lg-6 col-md-6 col" v-else>{{ project.duration }} days</div>              
                        </div>
                        <div class="row">
                        <div class="col-lg-6 col-md-6 col"><strong>Team:</strong></div>              
                        <div class="col-lg-6 col-md-6 col">Images</div>              
                        </div>
                    </div>

                </div>

                <div class="card-footer">
                    <router-link 
                        tag="button" 
                        class="btn btn-primary" 
                        :to="{ name: 'SingleProject', 
                        params: { 
                            id: project.id 
                        } }">View</router-link>
   
                </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                projects: []
            }
        },
        created() {
            axios.get('/api/projects')
            .then(res => {
                this.projects = res.data
            })
            .catch(err => console.log(err))
            console.log("projet list component created")
        },
        mounted() {
            var $ = jQuery;

                $('p').each(function() {
                    var $this = $(this);
                    if($this.html().replace(/\s|&nbsp;/g, '').length == 0)
                        $this.remove();
                });
        },
        filters: {
            limitTitle_10: function (value) {
                return value.substr(0, 10)
            },

            limitTitle_40: function (value) {
                return value.substr(0, 40)
            }
        }
    }
</script>

<style lang="scss" scoped>
    .row{
        clear: both;
    }
    .card-content {
        padding: 1.25rem;
    }

    .toggleble.card-body{
        padding: 0 !important;
    } 
    h3{
        text-transform: capitalize;
        font-size: 18px;
    }
    .btn{
        border-radius: 0 !important;
    }

    input#search-project {
        min-width: 245px;
    }

    br{
        display: none !important;
    }
</style>